body{
	font:14px/1.5 'Open Sans', Arial, Helvetica, sans-serif;
	color: #333;
    background: #FFF;
    margin-bottom: 560px;
}

html{    
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'Open Sans', Arial, Helvetica, sans-serif;}

a{color: #264d9e;outline: medium none !important;font-weight: 600;text-decoration: none;}

a:hover{
    text-decoration:none;
    color: #f2af1f;
}

h1 {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 50px;
}


h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* Forms */

input, select, textarea {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(186, 186, 186);
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 1.732px 1px 0px rgba(0, 0, 0, 0.09);
    width: 190px;
    height: 30px;
    font-size: 14px;
    padding: 0 5px;
}

::-webkit-input-placeholder {color:#CCC;}
::-moz-placeholder          {color:#CCC;}/* Firefox 19+ */
:-moz-placeholder           {color:#CCC;}/* Firefox 18- */
:-ms-input-placeholder      {color:#CCC;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

*:focus {
    outline: 0 !important;
}

input:focus, select:focus, textarea:focus {
    -webkit-box-shadow:inset 0 1px 2px 0 rgba(57,169,255,0.5);
    box-shadow:inset 0 1px 2px 0 rgba(57,169,255,0.5);
    border: 1px solid #4799df;
}

/* END Forms */

/* Header */

header {
    width: 100%;
    margin: 0 auto;
    /*background-color: #CCC;*/
    max-height: 700px;
    float: left;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    min-width: 1010px;
}

header .black-tint {
    position: absolute;
    bottom: 0;
    background: url(../images/bottom-tint.png) repeat;
    width: 100%;
    height: 260px;
}

.header-block {
    background-color: rgba( 9, 52, 88, 1 );
    height: 120px;  
    width: 100%;
    position: relative;
}

.wrap {
    max-width: 1200px;
    min-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.transparent-bg {
    background-color: rgba( 9, 52, 88, 0.8 ) !important;
}

.social {
    list-style-type: none;
    position: absolute;
    left: 10px;
    top:45px;
}

.social li{
    margin-right: 15px;
    opacity: 0.6;
}

.social li:hover {
    opacity: 1;
}

.ico-vk {
  background-position: -344px -38px;
  height: 20px;
  width: 20px
}

.ico-google {
  background-position: -364px -38px;
  height: 18px;
  width: 18px
}

.ico-facebook {
  background-position: -382px -38px;
  height: 18px;
  width: 10px
}

.ico-logo, .ico-vk, .ico-google, .ico-facebook
{
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat
}

.logo {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    height: 95px
}

.logo .ico-logo {
  background-position: -304px -0px;
  height: 38px;
  width: 308px;
}

.logo figcaption {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    padding-top: 15px;
}

.lang {
    position: absolute;
    top:50px;
    right: 10px;
    list-style-type: none;
}

.lang li{
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
}

.lang a{
    color: #FFF;
}

.lang li.active {
    opacity: 0.7;
    color: #FFF;
}

.headerimg {
    background-position: center center !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    position: absolute;
    background-size: cover;
}

/* END of header */

/* Menu */

nav {
    width: 100%;
    background: #09235a;
}

ul.menu {
  max-width: 1200px;
  min-width: 1000px;
  text-align: center;
  display: table;
  margin: 0 auto;
  list-style: none;
  height: 50px;
}
ul.menu li {
  font: 500 16px/18px sans-serif;
  color: #FFF;
  background: #09235a;
  display: table-cell;
  max-width: 16.6%;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  height: 20px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul.menu li:hover,ul.menu li:focus, ul.menu li.selected {
  background: #f2af1f;
  color: #4b2909;
}
ul.menu li ul {
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}
ul.menu li ul li { 
  background: #f2af1f; 
  display: block; 
  color: #4b2909;
  max-width: 200px;
  width: 200px;
  text-align: left;
  padding: 10px 20px;
  height: 20px;
    
}
ul.menu li ul li:hover,ul.menu li ul li:focus { background: #f6c65c;}
ul.menu li:hover ul,ul.menu li:focus ul {
  display: block;
  opacity: 0.97;
  visibility: visible;
}

ul.menu li a {
  color:#FFF;
  text-decoration: none;
  font-weight: 400;
}
ul.menu li:hover a, ul.menu li.selected a {
    color:#4b2909 !important; 
}

ul.menu li ul li a {
  color:#4b2909;
  text-decoration: none;
  font-weight: 400;
}

/* END of Menu */

/* Top banner-slide  */

.banner-slider {
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 40px 0 25px 0;
    display: block;
    height: 435px;

}

.content-area {
    width: 58%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: left;
    margin-left: 10px;
}

.content-area:hover .back,
.content-area:hover .next{
    display: block;
    cursor: pointer;
}

.content-area .back {
    position: absolute;
    top: 200px;
    left: 0;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    background: rgba( 0, 0, 0, 0.5 ) url(../images/arr-back.png) no-repeat 15px center;
    display: none;
}

.content-area .next {
    position: absolute;
    top: 200px;
    right: 0;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    background: rgba( 0, 0, 0, 0.5 ) url(../images/arr-fwd.png) no-repeat 24px center;
    display: none;
}

.content-area .back:hover,
.content-area .next:hover{
    background-color: rgba( 0, 0, 0, 0.8 );
}

.content-area .type {
    color: #FFF;
    font-weight: 300;
    height: 70px;
    width: 510px;
    padding: 10px 10px;
    position: relative;
}

.content-area .type .bg {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.content-area .type h1 {
    margin: 0px;
    z-index: 2;
    position: relative;
}

.content-area .type a,
.content-area .description a{
    color: #f2af1f;
    font-weight: 500;
    z-index: 2;
    position: relative;
}

.content-area .type a:after, 
.content-area .description a:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 14px;
    background-position: -36px -0px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: relative;
    margin-left: 10px;
    margin-bottom: -2px;
    z-index: 2;
}

.exclusive {
    background-color: #7b39a9;
}

.content-area .description {
    margin-top: 265px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3em;
    
}

.content-area .description p {
    width: 550px;
    color: #FFF;
    padding-bottom: 10px;
}

/* END of banner-slider */


/* Search box */
.search {
    background-color: rgb(255, 255, 255);
    opacity: 0.95;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.31);
    width: 360px;
    height: 430px;
    padding: 15px 20px;
    margin-right: 10px;
    display: inline-block;
    float: right;
}

.search .form-group-drop, .search .form-group-range, .search .form-group {
    margin: 0 0 10px 0;
    float: left;
}

.search label {
     width: 170px;   
     float: left;
     padding-top: 5px;
}

.search select {
    float: right;
}

.search .form-group-range input {
    width: 60px;
    float: left;
}

.search label.from {width: 27px;margin-left: -35px;color:#CCC;text-align: right;margin-right: 3px;}

.search label.to {width: 35px;color:#CCC;margin-left: 5px;text-align: right;}

.search input.to {margin-left: 5px;}
.search .form-group input {width: 178px;}
.search button {
    background-color: rgb(242, 175, 31);
    width: 360px;
    height: 40px;
    color: #6e3d12;
    font-size: 18px;
    font-weight: 500;
    border: none;
    margin-top: 20px; 
}

.search button:hover {
    background: #bd8815;
    cursor: pointer;
}
/* END Search box */



/* Service */
.service {
    clear: both;
    width: 100%;
    min-width: 1000px;
    height: 380px;
    position: relative;
    padding: 50px 0;
}

.service h1 {
    text-align: center;
    display: block
}

.service ul{
    list-style-type: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.service ul li {
    display: inline-block;
    width: 24%;
    font-size: 20px;
    text-align: center;
    padding: 0;
}

.service ul li div{
    width: 120px;
    margin: 0 auto;
    height: 110px;
}

.service ul li .icon-1 {
    background: url(../images/handshake.png) no-repeat center bottom;   
}

.service ul li .icon-2 {
    background: url(../images/home-user.png) no-repeat center bottom;   
}

.service ul li .icon-3 {
    background: url(../images/home-keys.png) no-repeat center bottom;   
}

.service ul li .icon-4 {
    background: url(../images/invest-icon.png) no-repeat center bottom;   
}

.service ul li a{
    margin-top: 20px;
    line-height: 1.6em;
    font-weight: 300;
    clear: both;
    display: block;
}

/* Service END */



/* Banner*/
section.banner {
    width: 100%;
    min-width: 1010px;
    height: 180px;
    padding: 30px 0 30px 0;
    text-align: center; 
    background: url(../images/banner-bg.jpg) center center;
    background-attachment: fixed;
    background-size: 100% auto;
}

section.banner h1 {
    color: #94690d;
    margin: 0 0 20px 0;
}

section.banner p {
    color: #433006;
    width: 900px;
    padding:0 0 30px 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
}

section.banner a {
    font-weight: 600;
    font-size: 18px;
    color: #6e3d12;
}


/* Banner END */



/* News and Info */

section.three-column {
 padding: 50px 0;
 margin-left: 10px;
 min-width: 990px;
}

section.three-column h1 {
    margin-left: 50px;
}

h1.info:after{
    content: "";
    display: block;
    width: 30px;
    height: 46px;
    background-position: -191px -68px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

h1.news:after{
    content: "";
    display: block;
    width: 32px;
    height: 46px;
    background-position: -221px -68px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

hr {
    border:0px solid #CCC;
    border-bottom: 1px solid #CCC;
    width: 90%;
    margin: 0 auto;
}

section.three-column .text-block {
    width: 31%;
    display: inline-block;
    vertical-align: text-top;
}

section.three-column .text-block:nth-of-type(2) {
    margin: 0px 20px;
}

section.three-column h4 {
    min-height: 50px;
    font-size: 18px;
    display: block;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.5em;
}

/* END of News and Info */


/* Project block */
section.projects {
    max-width: 1040px;
    min-width: 840px;
    background: #e8f6ff;
    margin: 50px auto;
    height: 320px;
    padding: 50px 80px;
    
}

section.projects h1 {
    float: left;
    margin-bottom: 20px;
}

section.projects .more {
    float: right;
    padding-top: 20px;
}

section.projects .projects-container {
    clear: both;
    text-align: center;
    position: relative;
    /*margin-left: -2.5%;*/
    font-size: 0px;
}

section.projects .projects-container figure {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 250px !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    margin-right: 15px !important;
}

section.projects .projects-container img {
    max-width: 100%;
	height: auto;
    padding-bottom: 20px;
    min-height: 160px;
    max-height: 160px;	
}

section.projects .projects-container a {
    font-size: 18px;
}

section.projects .projects-container .arrow-next {
    display: block;
    background-position: -16px -0px;
    height: 30px;
    width: 16px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -50px;
    top: 70px;
    opacity: 0.7;
}

section.projects .projects-container .arrow-back  {
    display: block;
    background-position: -0px -0px;
    height: 30px;
    width: 16px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -50px;
    top: 70px;
}

section.projects .projects-container:after:hover,
section.projects .projects-container:before:hover {
    opacity: 1;
}

.ui-carousel {width: auto !important;}

/* END of Project block */


.disabled {
    opacity: 0.3 !important;
    cursor: default;
}


/* Footer */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #09235a;
    height: 410px;
    padding: 50px 0;
    width: 100%;
    min-width: 1010px;
}

footer .logo {
    background-position: -304px -0px;
    height: 13px;
    width: 308px;
    float: left;
    margin-bottom: 45px;
    opacity: 0.3;
    margin-left: 10px;
}

footer ul {
    list-style-type: none; 
    display: block;
    float: left;
    clear: both;
    width: 600px;
    margin-left: 10px;
}

footer ul li {
    display: block;
}

footer ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

footer ul li.col-1 {
    width: 280px;
    float: left;
}

footer ul li.col-1 ul {
    display: block;
    float: left;
    width: auto;
    margin: 0;
}

footer ul li.col-1 li {
    display: block;
    clear: both;
    height: 40px;
    vertical-align: text-top;
}

footer p {
    display: block;
    clear: both;
    padding-top: 40px;
    color: #FFF;
    font-weight: 300;
    opacity: 0.3;
    margin-left: 10px;
}

footer .contacts {
    position: absolute;
    right: 0;
    width: 200px;
    top: 0;
}

footer .contacts h2 {
    color: #FFF;
    opacity: 0.7;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 40px;
}

footer .contacts ul {
    width: 200px;
    margin: 0;
}

footer .contacts li {
    display: block;
    position: relative;
    height: 40px;
    width: 200px;
}

footer .contacts li.tel:before {
    content: "";
    display: block;
    background-position: -412px -38px;
    height: 23px;
    width: 20px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 3px;
}

footer .contacts li.mail:before {
    content: "";
    display: block;
    background-position: -392px -38px;
    height: 13px;
    width: 20px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 6px;
}

/* END of Footer */


/*Simple page content */

.page-content {
    clear: both;
    width: 100%;
    min-width: 1000px;
    position: relative;
    padding: 50px 0;
}

.single-page {
    padding-top: 0 !important;
}

.page-content .wrap {
    position: relative;
    display: -webkit-flex;
    display: flex;
}

.page-content .left-menu {
    display: block;
    float: left;
    width: 285px;
    margin-right: 35px;
    margin-left: 10px;
    z-index: 2;
}

.page-content .left-menu .menu {

}

.left-menu ul li{
    display: block;
    float: left;
    clear: both;
    min-width: 140px;
}

.left-menu ul li a{
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    min-height: 40px;
    vertical-align:middle;
    line-height: 40px;
}

.left-menu ul li.selected a{
    background: #f2af1f;  
    position: relative;
    color: #53310a;
}

.left-menu ul li.selected a:after {
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 15px;
    border-color: transparent transparent transparent #f2af1f;
    position: absolute;
    right: -15px;
    top:0px;
}

.page-content .content {
    display: block;
    float: left;
    max-width: 900px;
    min-width: 670px;
}

.page-content .content p {
    font-size: 16px;
    margin-bottom: 50px;
}

/*END of Simple page content */


/* New property object form */
.new-property-form {
    max-width: 900px;
    min-width: 670px;
    background: #e8f6ff;
    padding: 20px;
}

.form .form-group-drop,
.form .form-group {
    margin: 0 0 10px 0;
    float: left;
    display: block;
    clear: both;
}

.form label {
     width: 250px;   
     float: left;
     padding-top: 5px;
}

.form select {
    float: right;
    width: 310px;
}

.search .form-group-range input {
    width: 60px;
    float: left;
}

.form .form-group input {width: 300px;}

.form .form-group.medium input {width: 150px !important;}

.form .form-group.small input {width: 50px !important;}

.form button {
    background-color: rgb(242, 175, 31);
    width: 360px;
    height: 50px;
    color: #6e3d12;
    font-size: 22px;
    font-weight: 500;
    border: none;
    margin-top: 20px; 
}

.form button:hover {
    background: #bd8815;
    cursor: pointer;
}

.form h2 {
    color:#1a3160;
}

.form h2 em {
    font-size: 14px;
    font-weight: 300;
}

.form fieldset {
    padding-bottom: 50px;
}

.form .form-group-drop.error input,
.form .form-group.error input{
    border: #e11a1a solid 1px;
    -webkit-box-shadow:inset 0 1px 3px 0 rgba(232,42,42,0.6);
    box-shadow:inset 0 1px 3px 0 rgba(232,42,42,0.6);
}

.form .error-box {
    position: relative;
    color: #e11a1a;
    margin: 10px 250px;
    padding-left: 18px;
}

.form .error-box:after {
    content:"";
    width: 12px;
    height: 12px;
    background: url(../images/sprite.png) -53px 0  no-repeat;
    display: block;
    position: absolute;
    left: 0px;
    top: 5px;
}

.error-indicator {
    background: #ebd3db;
    border: 1px solid #d79090;
    padding: 15px 30px;
    text-align: center;
    position: relative;
    color: #e11a1a;
    margin-top: -30px;
}

.error-indicator:after {
    content:"";
    width: 20px;
    height: 20px;
    background: url(../images/sprite.png) -72px 0  no-repeat;
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
}

.form textarea {
    width: 490px;
    height: 150px;
    font-size: 14px;
    padding: 10px;
}

/* END of New property object form */

/* Feedback */

.feedback {
    max-width: 900px;
    min-width: 670px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    margin-right: 10px;
    margin-bottom: 20px;
}

.feedback .top {
    height: 40px;
    background: #f8eacc;
    color: #8d5d0e;
    vertical-align: middle;
} 

.feedback .top h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 60px;
    position: relative;
    float: left;
}

.feedback .top h3:before {
    content:"";
    width: 30px;
    height: 19px;
    background: url(../images/sprite.png) -92px 0 no-repeat;
    display: block;
    position: absolute;
    left:15px;
    top: 10px;
}

.feedback .top date{
    float: right;
    line-height: 40px;
    padding-right: 30px;
    color: #a5894a;
}

.feedback .body {
    background: #f6f6f6;
    padding: 20px 0 20px 60px;
    vertical-align: middle;
    position: relative;
    height: auto;
}

.feedback .body .name {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    position: relative;
}

.feedback .body .name:before {
    content:"";
    width: 23px;
    height: 25px;
    background: url(../images/sprite.png) -132px 0 no-repeat;
    display: block;
    position: absolute;
    left:-37px;
    top: 0px;
}

.feedback .body p {
    font-size: 14px;
    padding-right: 30px;
}



h1 + a.top {
    position: absolute !important;
    right: 10px;
    top: 6px;
    margin: 0 !important;
}


a.leave-feedback {
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    position: relative;
    background: #264d9e;
    border: none;
    position: relative;
    margin: 60px auto;
    display: block;
}

a.leave-feedback:before {
    content:"";
    width: 30px;
    height: 30px;
    background: url(../images/sprite.png) -161px 0 no-repeat;
    display: block;
    position: absolute;
    left:15px;
    top: 5px; 
}

a.leave-feedback:hover {
    background: #0b2966;
    cursor: pointer;
}


.paging {
    background: #f5f5f5;
    height: 70px;
    width: 99%;
    margin-right: 20px;
    position: relative;
    display: block;
    clear: both;
}

.paging .arr-back {
    width: 16px;
    height: 30px;
    background: url(../images/sprite.png) 0px 0 no-repeat;
    display: block;
    position: absolute;
    left:15px;
    top: 19px; 
}

.paging .arr-next {
    width: 16px;
    height: 30px;
    background: url(../images/sprite.png) -16px 0 no-repeat;
    display: block;
    position: absolute;
    right:15px;
    top: 19px; 
}

.paging .arr-next:hover,
.paging .arr-back:hover{
    cursor: pointer;
}
    

.paging ul {
    text-align: center;
}

.paging ul li, .paging ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.paging ul li {
    margin-top: 10px;
}

.paging ul li.selected a {
    background: #f2af1f;
}

.paging ul li.selected a {
    color: #000;
}


#feedback-modal {
    width: 800px;
    margin: 50px;
}

#feedback-modal h2 {
    font-size: 30px;
    font-weight: 300;
    padding-right: 50px;
    margin-bottom: 60px;
    color: #1a3160;
}

#feedback-modal button {
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    display: block;
}

.fancybox-opened .fancybox-skin {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

#sendformanswer {
    width: 100%;
    font-size: 18px;
    color:green;
    text-align: center;
    height: 500px;
}

#sendformanswer p {
    padding-top: 150px;
}

/* End of Feedback */


/* Contacts */

.content .contacts .content-contact{
    float: left;
    margin-right: 0px;
    margin-top: 0px;
    width: 99%;
}

.content .contacts .consultant-card .photo {
    width: 120px;
    padding: 0 20px;
}

.content .contacts .consultant-card .details {
    float: left;
    margin-left: 0;
    width: 450px;
}

/* End of Contacts */


/* Projects */

.projects, .objects {
    margin: 0 10px;
    width: 100%;
}

.project-item {
    position: relative;
}

.projects h1, .objects h1{
    float: left;
}

.projects .form-group-drop{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.projects .form-group-drop label {
    margin-right: 20px;
}

.project-list {
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
    vertical-align: text-top;
    clear: both;
}

ul.project-list li {
	display: inline-block;
	margin: 0 0 2.5% 2.5%;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    
}

ul.project-list img {
	width: 100%;
	height: 260px;
	margin: 0 0 10px;
    object-fit: cover;
}

ul.project-list a {
    font-size: 28px;
    font-weight: 500;
    min-height: 200px;
    display: block;
}

ul.project-list h3 a {
    display: inline;
} 

ul.project-list h3 {
    margin-top: 5px;
    margin: 5px 0 5px;
}

ul.project-list li p {
    font-size: 14px;
	line-height: 1.5em;
    background-attachment: fixed;
}


ul.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}

ul.columns-4 li {
    width: 22.5%;
}

/* End of Projects */


/* Project inside */


a.back-link {
    padding-left: 30px;
    font-weight: 300;
    display: block;
    height: 20px;
    position: relative;
}

.back-link:before {
    content: "";
    width: 8px;
    height: 15px;
    display: block;
    background: url(../images/sprite.png) no-repeat -221px 0px;
    position: absolute;
    left: 10px;
    top: 3px;
}

.project-inside h1 {
    margin-bottom: 10px;
    padding-left: 10px;
}

.project-inside {
    clear: both;
    display: block;
    position: relative;
}

.image-slider {
    max-width: 100%;
    z-index: 1;
    position: relative;
    height: auto;
    max-height: 720px;
}

.image-slider .black-tint {
    background: url(../images/bottom-tint-2.png) repeat-x;
    height: 238px;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom:-5px;
    left: 0;
    opacity: 0.8;
}

.image-slider .image {
    overflow: hidden;
    text-align: center;
    /*background: #555;*/
}

.image-slider .image img {
    width: auto;
    height: auto;
   /* min-height: 720px;*/
    max-height: 720px;
    text-align: center;
}

.image-slider .thumbs {
    position: absolute;
    bottom: 0;
    z-index: 3;
    height: 142px;
    width: 100%;
}

.image-slider .thumbs ul {
    text-align: center;
}

.image-slider .thumbs ul li{
    width: 14.2%;
    height: auto;
    max-height: 87px;
    display: inline-block;
    position: relative;
    border: 3px solid transparent;
    opacity: 0.8;
    overflow: hidden;
}

.image-slider .thumbs ul li img {
    max-width: 100%;
    max-height: 250px;
    vertical-align: middle;
    display: inline-block;
}

.image-slider .thumbs ul li.selected {
    border: 3px solid #f2af1f;
    opacity: 1;
}

.image-slider .thumbs ul li:hover {
    opacity: 1;
    cursor: pointer;
}

/*
.gv_panelNavNext{
    position: absolute;
    bottom: 60px;
    right: 10px;
    display: block;

    height: 60px !important;
    width: 40px !important;
    background: url(../images/arr-fwd.png) no-repeat 12px center !important;      
}
*/

.gv_panelNavNext{
    border-radius: 30px !important;
    height: 60px !important;
    width: 60px !important;
    background: rgba( 0, 0, 0, 0.5 ) url(../images/arr-fwd.png) no-repeat 24px center !important;;
}

.gv_panelNavPrev{
    border-radius: 30px !important;
    height: 60px !important;
    width: 60px !important;
    background: rgba( 0, 0, 0, 0.5 ) url(../images/arr-back.png) no-repeat 15px center !important;
}
/*
.gv_panelNavPrev{
    position: absolute;
    bottom: 60px;
    left: 10px;
    display: block;  
    height: 60px !important;
    width: 40px !important;
    background:  url(../images/arr-back.png) no-repeat 12px center !important;
}
*/

.project-inside #tabs-container {
    width: 100%;
    margin-top: 30px;
}

.project-inside .tabs-menu li {
    display: inline-block;
    width: 24.7%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.project-inside .tabs-menu li.current{
    -webkit-box-shadow:inset 0 0 0 3px #f2af1f;
    box-shadow:inset 0 0 0 3px #f2af1f;
}
.project-inside .tabs-menu li.current a,
.project-inside .tabs-menu li:hover a{
    color: #f2af1f;
}

.project-inside .tabs-menu li a {
    font-weight: 400;
}

.tab {
    margin: 30px 0 50px 0;
    line-height: 1.5em;
    font-size: 14px;
    padding: 0 10px;
}

.tab-content {
    display: none;
}

#tab-1 {
    display: block;   
}

.project-inside .contacts .left{
    width: 61%;
    height: 500px;
    float: left;
    overflow: hidden;
}

.contacts {
    float: left;
    clear: both;
    width: 98%;
    margin-top: 30px;
}

.contacts .left .map {
    min-width: 500px;
    width: 100%;
}

.project-inside .contacts .right {
    width: 370px;
    margin-left: 15px;
    height: 485px;
    float: right;
}

.contacts h3{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 10px;
}

.contacts .right .contact-card {
    padding: 0px 10px 0 10px;
}

.contact-card .photo{
    float: left;
    width: 120px;
    clear: both;
}

.contact-card .details{
    float: left;
    width: 210px;
    margin-left: 20px;
    
}

.contact-card .details h4 {
    font-size: 18px;
}

.contact-card .details em {
    color: #999;
    font-size: 13px;
    display: block;
    padding-bottom: 20px;
}

.contact-card .details a {
    padding-left: 30px;
    position: relative;
    font-size: 16px;
    padding-bottom: 5px;
    display: block;
    bottom: 0;
} 

.contact-card .details a.tel:before {
    content: "";
    display: block;
    background-position: 0px -33px;
    height: 20px;
    width: 21px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 3px;
}

.contact-card .details a.mail:before {
    content: "";
    display: block;
    background-position: 0px -70px;
    height: 14px;
    width: 20px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 6px;
}

.send-question {
    background: #f6f6f6;
    float: left;
    margin-top: 20px;
    padding: 0 10px 0 10px;
}

.send-question h3 {
    padding: 0;
}

.send-question .form-group input{
    margin-bottom: 10px;
}

.send-question label {
    width: 166px;
    display: inline-block;
}

.send-question textarea {
    margin-bottom: 10px;
    width: 350px;
    padding: 10px;
    height: 50px;
}

.send-question button {
    background-color: rgb(242, 175, 31);
    width: 370px;
    height: 40px;
    color: #6e3d12;
    font-size: 18px;
    font-weight: 500;
    border: none;
    margin-bottom: 13px; 
}

.send-question button:hover {
    background: #bd8815;
    cursor: pointer;
}

.send-question .error-indicator {
    padding: 15px 10px;
    margin: 0px 0 10px 0;
}

/* End of Project inside */


/* Objects */



.objects h1 {
    margin-bottom: 20px;
}

.objects .filters {
    background: #f6f6f6;
    padding: 2%;
    float: left;
    clear: both;
    width: 96%;
    margin-bottom: 30px;

}

.objects .filters .form-group-drop{
    float: left;
    margin-right: 40px;
}

.objects .filters .sort {
    float: right;
    margin-right: 0px;
}

.object-list {
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
    vertical-align: text-top;
    clear: both;
}

ul.object-list li {
	display: inline-block;
	margin: 0 0 2.5% 2.5%;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    background: #eeeeee;
    position: relative;
    
}

ul.object-list img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

ul.object-list a {
    font-size: 18px;
    font-weight: 500;
}

ul.object-list a.img-holder {
    display: block;
    height: 180px;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
}

ul.object-list h3 {
    margin: 0px;
    padding: 0px 10px;
    height: 50px;
}

ul.object-list li .city {
    padding: 0px 10px;
    font-size: 14px;
    color: #858585;
}

.object-info {
    font-size: 14px;
    padding: 10px 10px 10px;
}

.object-info .label {
    width: 100px;
    display: block;
}

.object-info .label {
    width: 100px;
    display: block;
    float: left;
}

.object-info .levels em {color: #858585;}

.object-item .price{
    height: 55px;
    background: #c3e1f8;
    line-height: 55px;
    padding: 0px 2%;
    font-size: 30px;
    font-weight: 300;
    color: #09235a;
    bottom: 0;
    position: absolute;
    width: 96%;
}

.object-item {
    min-height: 400px;
    display: block;
    position: relative;
}

.object-item:hover .price{
    background: #f2af1f;
    color: #5a3509;
}

.object-item:hover a {
    color: #f2af1f;
}

.object-item:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}

.object-item .id {
    position: absolute;
    bottom: 65px;
    right: 10px;
    color: #858585;
    font-size: 14px;
}


.objects .paging{
    margin: 40px 0;
}

.badge {
    width: 80px;
    height: 35px;
    background: no-repeat;
    position: absolute;
    top:10px;
    left: -8px;
    font-size: 13px;
    font-weight: 300;
    color: #FFF;
    padding-left: 50px;
    padding-top: 5px;
    overflow: hidden;
    line-height: 23px;
    z-index: 2;
}

.badge-exclusive {
    background: url(../images/badges.png) 0 0;
    width: 185px !important;
}

.badge-promotion {
    background: url(../images/badges.png) 0 -60px;
    width: 185px !important;
}

.badge-sold {
    background: url(../images/badges.png) 0 -120px;
}

/*
.badge-new {
    background: url(../images/badges.png) 0 -180px;
    width: 90px !important;
}
*/

.badge-rented {
    background: url(../images/badges.png) 0 -240px;
}


/* End of objects */

.content-left {
    width: 60%;
    float: left;
    margin-top: 20px;
    padding-left: 10px;
}

.content-left p {
    clear: both;
}

.content-left pre {
    word-wrap: break-word;
}

.content-left strong {
    font-weight: bold;
    color: #000;
}

.content-right {
    width: 380px;
    margin-right: 10px;
    float: right;
    margin-top: 20px;
}

.content-right .info {
    padding: 10px;
    background: #f6f6f6;
    float: left;
    margin-bottom: 30px;;
}

.content-left h3, .content-right h3, .map-block h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
    float: left;
}

.content-right h3 {
    margin-top: 20px;
}

.content-right h3:first-child {
    margin-top: 0px;
}

.content-right .item {
    width: 100%;
    float: left;
    clear: both;
    margin: 0px 0 15px 0;
}

.content-right .label {
    width: 130px;
    float: left;
    color: #777777;
    padding-right: 10px;
}

.content-right .desc {
    float: left;
    width: 210px;
}
.content-right span.boldPrice {
	font-weight:bold;
}

.content-right ul.utility {
    width: 370px !important;
    display: block;
    position: relative;
    clear: both;
    float: left;
}

.content-right ul.utility li:before {
    content: "";
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    background: url(../images/sprite.png) no-repeat -235px 0;
    left: 0px;
    top: 3px;
}

.content-right ul.utility li{
    padding-left: 20px;
    position: relative;
    float: left;
    width: 145px;
    margin: 0 20px 10px 0px;
    display: block;
}


.map-block {
    clear: both;
    max-width: 1200px;
    min-width: 900px;
    overflow: hidden;
}

.map-block h3 {
    padding-left: 10px;
}



/* Objects inside */


/* Enf of Objects inside */

@media all and (max-width: 1150px) {
    
h1 {
    font-size: 30px;;
}   
    
section.projects {
    width: 840px;
}
   
section.projects .projects-container figure {
    width: 260px;
}
section.projects .projects-container figure:last-child {
    display: none;
}
    
#top-items {width: 100% !important;}
    
.service ul li {
    font-size: 18px;
}
    
ul.menu li {
    font: 500 14px/18px sans-serif;
    padding: 15px 10px;
}
    
.project-inside .tabs-menu li {
    font-size: 16px;
}
    
}